@font-face {
  font-family: 'Ralington';
  src: url('../fonts/Ralington/Ralington.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Panton-Bold';
  src: url('../fonts/Panton/Panton-Bold.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Exo-Medium.otf';
  src: url('../fonts/Exo/Exo-Medium.otf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
